<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>SKOOUP AI</title>
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <a href="#">SKOOP AI</a>
        </div>
        <ul>
            <li><a href="#">Followers</a></li>
            <li><a href="#">Contact</a></li>
            <li class="demo-box"><a href="#">Demo</a></li>
        </ul>
    </nav>

    <div class="section">
        <div class="section1">
            <h1 class="heading1">SKOOP AI</h1>
            <p>SKOOP AI is a platform that helps you to grow your social media followers <br>    providing you with the best content to post on your social media accounts.</p>
            <button class="demo-box btn">View Demo</button>
         </div>
            <div class="dash-img">           
        </div>
    </div>
    <div class="small-b-container">
        <div class="small-content"><div>10k</div>
            <div class="lines"></div>
        </div>
        <div class="small-content">220
            <div class="lines"></div>
        </div>
        <div class="small-content">10K
            <div class="lines"></div>
        </div>
        <div class="small-content">220
            <div class="lines"></div>
        </div>
    </div>



    <div class="section3">
        <div class="section1">
            <h1 class="heading1">PowerFull Tools</h1>
            <p>SKOOP AI is a platform that helps you to grow your social media followers <br>    providing you with the best content to post on your social media accounts.</p>
        </div>
        <div class="dash-img2">
            
        </div>
    </div>




    <div class="section2">
            <h1 class="heading1">Platform</h1>

            
    </div>
</body>
</html>